# Supabase Configuration
SUPABASE_URL=https://stovfckoihtmhcxcanqg.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN0b3ZmY2tvaWh0bWhjeGNhbnFnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NzA3NTA1MiwiZXhwIjoyMDgyNjUxMDUyfQ.lVokXfz_-fcO5SP5PiSTA-RAivfEAFtUC-0MtylGXbw
SUPABASE_JWT_SECRET=Uy0Z4V89aY7hbt4hF1Kuo44xYndiOvj1SnLc7t5OUb2ZDhEbcHAakak5a4aycFF7Pxvqw9/VMPwvMD3C1Sz1cw==
# Flask Configuration
FLASK_SECRET_KEY=Kimayco2.2360679775
FLASK_ENV=production

# Game Configuration
CAST_COOLDOWN_SECONDS=2
MAX_REQUESTS_PER_MINUTE=30

